# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

src/cfehome/data/10000 Credits Data
src/cfehome/data/10000 Movies Data
src/cfehome/data/TMDB_movie_dataset_v11.csv
src/cfehome/data/ratings.csv

